$color-header : #d9dded;
$color-background : #b12a2e;
$color-text : rgba(255, 255, 255);
$color-border : #848484;
$color-input : #e4e4e4;
$color-p : rgb(239, 243, 246);
$color-destino :  rgb(208, 213, 208);
$font-h1 : 45px;
$font-h2 : 15px;
$font-fam : "helvetica";